/* @import "skin-netic";*/


.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px; }

.kv-avatar .file-input {
  display: table-cell;
  max-width: 220px; }

.file-preview {
  margin-bottom: 5px; }

.file-actions {
  display: none; }

.file-input > div:nth-child(3) {
  background-color: #333 !important;
  border-color: #333 !important; }

.file-input .file-preview-image {
  max-width: 150px;
  width: 100% !important;
  height: auto  !important; }

/*
 * Skin: netic
 * ------------
 */
/*descriptive colors*/
/*functional colors*/
/* define the theme color here*/
/*descriptive colors*/
/*functional colors*/
/* define the theme color here*/
.control-sidebar > .tab-content {
  padding-top: 2px; }

.control-sidebar-heading {
  margin-top: 5px; }

.skin-netic .control-sidebar.control-sidebar-dark {
  background: #333333; }
  .skin-netic .control-sidebar.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a {
    background: #1a1919; }
  .skin-netic .control-sidebar.control-sidebar-dark .control-sidebar-menu > li > a:hover {
    background: #1a1919; }
  .skin-netic .control-sidebar.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a,
  .skin-netic .control-sidebar.control-sidebar-dark .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:hover,
  .skin-netic .control-sidebar.control-sidebar-dark .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:focus,
  .skin-netic .control-sidebar.control-sidebar-dark .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:active {
    background: #333333; }
  .skin-netic .control-sidebar.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a,
  .skin-netic .control-sidebar.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:hover,
  .skin-netic .control-sidebar.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li > a:focus {
    border-left-color: #1a1919; }

.skin-netic h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200; }

.skin-netic .main-header .navbar {
  background-color: #2089f6; }

.skin-netic .main-header .navbar .nav > li > a {
  color: #ffffff; }

.skin-netic .main-header .navbar .nav > li > a:hover,
.skin-netic .main-header .navbar .nav > li > a:active,
.skin-netic .main-header .navbar .nav > li > a:focus,
.skin-netic .main-header .navbar .nav .open > a,
.skin-netic .main-header .navbar .nav .open > a:hover,
.skin-netic .main-header .navbar .nav .open > a:focus,
.skin-netic .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff; }

.skin-netic .control-sidebar-heading {
  color: white; }

.skin-netic .main-header .navbar .sidebar-toggle {
  color: #ec0404; }

.skin-netic .main-header .navbar .sidebar-toggle:hover {
  color: #ec0404;
  background: rgba(0, 0, 0, 0.1); }

.skin-netic .main-header .navbar .sidebar-toggle {
  color: #fff; }

.skin-netic .main-header .navbar .sidebar-toggle:hover {
  background-color: #2089f6; }

@media screen and (max-width: 767px) {
  .skin-netic .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1); }
  .skin-netic .main-header .navbar .dropdown-menu li a {
    color: #fff; }
  .skin-netic .main-header .navbar .dropdown-menu li a:hover {
    background: #2089f6; } }

.skin-netic .main-header .logo {
  background-color: #2089f6;
  color: #ffffff;
  border-bottom: 0 solid transparent; }

.skin-netic .main-header .logo:hover {
  background-color: #2089f6; }

.skin-netic .main-header li.user-header {
  background-color: #2089f6; }

.skin-netic .content-header {
  background: transparent; }

.skin-netic .navbar .languages-main-dropdown {
  border: none !important;
  background: #2089f6 !important;
  color: white; }
  .skin-netic .navbar .languages-main-dropdown li > a {
    color: white; }
    .skin-netic .navbar .languages-main-dropdown li > a:hover {
      background: #0756a9 !important; }

.skin-netic .main-sidebar,
.skin-netic .left-side {
  background-color: #333333; }

.skin-netic .user-panel > .info,
.skin-netic .user-panel > .info > a {
  color: #fff; }

.skin-netic .sidebar-menu > li.header,
.skin-netic .control-sidebar-heading {
  color: #f5f5f5;
  background: #2089f6; }

.skin-netic .sidebar-menu > li.header {
  width: 100%; }

.skin-netic .control-sidebar.control-sidebar-dark {
  overflow: hidden !important; }

.skin-netic .control-sidebar-heading {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px; }

.skin-netic .sidebar-menu > li > a {
  border-left: 3px solid transparent; }

/* .skin-netic .sidebar-menu > li:hover > a,*/
/* .skin-netic .sidebar-menu > li.active > a,*/
/* .skin-netic .sidebar-menu > li:hover > div,*/
/* .skin-netic .sidebar-menu > li.active > div {*/
/*   color: $wildsand;*/
/*   border-left-color: $theme-color-secondary;*/
/*   cursor: pointer;*/
/**/
/*}*/
.skin-netic .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41; }

.skin-netic .sidebar a {
  color: #b8c7ce; }

.skin-netic .sidebar a:hover {
  text-decoration: none; }

.skin-netic .treeview-menu > li > a {
  color: #8aa4af; }

.skin-netic .treeview-menu > li.active > a,
.skin-netic .treeview-menu > li > a:hover {
  color: #ffffff; }

.skin-netic .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px; }

.skin-netic .sidebar-form input[type="text"],
.skin-netic .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px; }

.skin-netic .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px; }

.skin-netic .sidebar-form input[type="text"]:focus,
.skin-netic .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666; }

.skin-netic .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff; }

.skin-netic .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0; }

.nav-tabs.control-sidebar-tabs > li > a .icon {
  font-size: 16px; }

@media (max-width: 768px) {
  .nav-tabs.control-sidebar-tabs {
    display: table; }
  .nav-tabs.control-sidebar-tabs > li {
    display: table-cell; } }

.control-sidebar-heading {
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 10px; }

.skin-netic .control-sidebar-subheading {
  color: white; }

.skin-netic .tab-content > .tab-pane {
  color: #ffffff; }

.skin-netic h4 {
  font-family: sans-serif;
  line-height: 1.1;
  color: #2089f6; }

.skin-netic a {
  color: #ffffff;
  text-decoration: none; }

.skin-netic .btn-primary,
.skin-netic .btn-primary:hover,
.skin-netic .btn-primary:active,
.skin-netic .btn-primary.hover {
  background-color: #2089f6;
  border-color: #2089f6;
  color: #ffffff; }

.skin-netic .btn-netic,
.skin-netic .btn-netic:hover,
.skin-netic .btn-netic:active,
.skin-netic .btn-netic.hover {
  background-color: #2089f6;
  border-color: #2089f6;
  color: #ffffff; }

.box.box-primary.box-solid > .box-header {
  background: #2089f6; }

.box.box-primary.box-solid {
  border-color: #2089f6; }

.box.box-primary {
  border-top-color: #2089f6; }

.callout.callout-netic {
  border-color: #e24109; }

.bg-netic,
.callout.callout-netic,
.alert-netic,
.alert-error,
.label-netic,
.modal-netic .modal-body {
  background-color: #e24109 !important; }

.box.box-solid.box-netic {
  border: 1px solid #e24109; }

.box.box-solid.box-netic > .box-header {
  color: #ffffff;
  background-color: #e24109; }

.box.box-solid.box-netic > .box-header a,
.box.box-solid.box-netic > .box-header .btn {
  color: #ffffff; }

.sidebar-menu > li > div {
  display: block;
  position: relative;
  padding: 12px 5px 12px 15px;
  color: white;
  border-left: 3px solid transparent; }

.skin-netic .sidebar-menu > li > div .right-items {
  margin-left: auto; }
  .skin-netic .sidebar-menu > li > div .right-items a {
    margin: 0 2px; }

.skin-netic .main-footer .brand-link {
  color: #ec0404; }

.skin-netic .btn-success,
.skin-netic .callout.callout-success {
  background-color: #5cb85c !important;
  border-color: #5cb85c !important; }

.skin-netic .callout h4 {
  color: white; }

.skin-netic .callout.callout-warning,
.skin-netic .btn-warning {
  background-color: #c87f0a !important; }

.skin-netic .btn-danger,
.skin-netic .callout.callout-danger {
  background-color: #dd4b39; }

.skin-netic .btn-info,
.skin-netic .callout.callout-info {
  background-color: #dde927; }

.skin-netic .post-circle {
  background-color: #2089f6; }

/*descriptive colors*/
/*functional colors*/
/* define the theme color here*/
.logo-lg img {
  width: 110px; }

.login-box-body {
  background: #e5e5e5;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.login-logo {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #2089f6;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0px; }

.img-avatar-sm {
  width: 40px;
  height: 40px;
  border-radius: 20px; }

textarea {
  resize: vertical; }

.comunication-content {
  padding-left: 55px;
  background: #a09797;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 11px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px; }

.settings-checkbox {
  position: absolute;
  top: -20%;
  left: -20%;
  display: block;
  width: 140%;
  height: 140%;
  margin: 0px;
  padding: 0px;
  background: white;
  border: 0px;
  opacity: 0; }

.flag-img {
  width: 25px;
  height: auto;
  border: 1px solid black; }

.attachments-list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.attachments-list li {
  margin: 10px 0; }

.main-header .sidebar-toggle:before {
  content: "\f015"; }

.attachment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.attachment-block > a {
  margin-right: 10px; }

/**************************************/
/* Form errorrs                       */
ul.form-errors-list {
  list-style: none;
  padding: 0;
  margin-bottom: 4px; }

ul.form-errors-list > li {
  position: relative;
  border: 1px solid red;
  margin: 4px 0;
  padding: 4px;
  background: red;
  color: white;
  font-weight: bold;
  margin-bottom: 0px;
  padding-left: 28px; }

ul.form-errors-list > li:before {
  position: absolute;
  left: 8px;
  top: 4px;
  content: '\f071';
  font-family: FontAwesome;
  color: white; }

.sidebar-avatar {
  max-width: 45px !important;
  width: 45px !important;
  height: 45px !important;
  border: 1px solid white; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #333333;
  border-color: #333333;
  padding: 1px 10px;
  color: #fff; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #333333; }

.select2-search--inline .select2-search__field:focus {
  border: 1px solid #333333; }

/**************************************/
.pagination-bootstrap-red li a:focus,
.pagination-bootstrap-red li a:hover {
  color: #333333 !important; }

.pagination-bootstrap-red li.active span {
  background: #333333 !important;
  border-color: #333333; }

.pagination-bootstrap-red {
  font-size: 12px !important; }

/*flexbox layout*/
.hbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hbox.align-base {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.hbox.align-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.pagination {
  font-size: 18px;
  width: 100%;
  text-align: center; }

.message-direction-icon {
  margin-left: auto; }

.message-direction-icon--incoming {
  color: #5cb85c; }

.message-direction-icon--outgoing {
  color: #ec0404; }

.control-sidebar-menu .menu-icon {
  min-width: 35px;
  background-color: #333333; }

.comunicate-content img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.username a {
  color: #333333 !important; }

.pagination.pagination-simple .page > a,
.pagination.pagination-simple .next > a,
.pagination.pagination-simple .last > a,
.pagination.pagination-simple .previous > a,
.pagination.pagination-simple .first > a {
  color: #333333 !important; }

.sidebar .actions a > i {
  margin-left: 2px !important; }

/* data table pagination */
div.dataTables_paginate {
  text-align: center !important;
  font-size: 18px; }

div.dataTables_paginate a {
  padding: 5px; }

div.dataTables_paginate ul.pagination li.active a {
  background: #333333;
  border-color: #333333; }

.control-sidebar a {
  color: white; }

.control-sidebar-heading,
#control-sidebar-settings-tab label {
  color: white; }

.post-container {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }

/*this is just a hack*/
.nav-tabs.control-sidebar-tabs > li.active > a,
.nav-tabs.control-sidebar-tabs > li.active > a:hover,
.nav-tabs.control-sidebar-tabs > li.active > a:focus,
.nav-tabs.control-sidebar-tabs > li.active > a:active {
  border-bottom: 1px solid white;
  height: 41px; }

.box-solid .box-header h3 {
  margin-top: 2px;
  margin-bottom: 2px; }

.control-sidebar {
  height: 100vh; }

.input-search-container {
  position: relative;
  margin-right: -26px; }

.post-search-field,
.post-search-field:focus {
  width: 100%;
  height: 40px;
  margin-left: -14px;
  margin-right: -14px;
  padding-left: 35px;
  padding-right: 10px;
  font-size: 14px;
  position: relative;
  outline: none;
  border: none;
  color: #333333; }

.input-search-container:after {
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
  content: "\f002";
  font: normal normal normal 14px/1 FontAwesome;
  color: #bbb7b7;
  font-size: 18px; }

.input-search-container .searching-indicator {
  position: absolute;
  display: none;
  top: 100%;
  color: black;
  background: #bbb7b7;
  width: 100%;
  padding: 4px;
  margin-left: -14px; }

.input-search-container.searching .searching-indicator {
  display: block; }

.img-flag {
  width: 100%;
  min-width: 32px;
  height: auto;
  max-width: 32px; }

/*# sourceMappingURL=styles.css.map */