{% if typeView is not defined %}
    {% set typeView = 'everyware' %}
{% endif %}
<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NETIC: {% block title %}{% endblock %}</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/bootstrap/css/bootstrap.min.css") }}" >
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/select2/select2.css") }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/font-awesome/css/font-awesome.min.css") }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/dist/css/AdminLTE.min.css") }}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
    page. However, you can choose any other skin. Make sure you
    apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/dist/css/skins/skin-red.min.css")}}">

    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/iCheck/all.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/datepicker3.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/styles.css")}}">
    {% if typeView == "TranslationOverview" or typeView == "everyware" %}
        <!-- Bloque de CSS de las traducciones -->
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.css') }}">
        {% endblock %}
        <!-- Fin del bloque de CSS de las traducciones -->
    {% endif %}
    {% if typeView == "MonologUtils"  or typeView == "everyware" %}
        <!-- Bloque de CSS de los logs -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.css" rel="stylesheet">
        <link href="{{ asset('bundles/lexikmonologbrowser/css/datepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/lexikmonologbrowser/css/log.css') }}" rel="stylesheet">
        <!-- Fin del bloque de CSS de los logs -->
    {% endif %}

        <!-- ESTILO PARA AGREGAR A UN CSS -->
        <style type="text/css">
            /* Estilo para acomodar la vista de Translation para que se pueda ver el contenido en pantallas mas pequeñas */
            @media screen and (min-width: 1260px) and  (max-width: 1600px){
                .contentBackstage .container {
                    margin-left: 0px;
                    padding-left: 0px;
                    font-size:12.5px;
                }
            }

            @media screen and (max-width: 1260px){
                .contentBackstage .container {
                    margin-left: 0px;
                    padding-left: 0px;
                    font-size:10px;
                }
            }
        </style>

</head>
<body class="hold-transition skin-netic sidebar-mini">
    {% block body %}
    <div class="wrapper" style="background-color: #333333;">
        <!-- Cabecera de la pagina -->
        {{ render(controller('AppBundle:Default:showNavbar',{"mainRequest":app.request})) }}
        <!-- Menu de navegación -->
        {{ render(url('admin_sidebar')) }}
        
        {% if typeView == "TranslationOverview"  or typeView == "everyware" %}
            <!-- Bloque flash para Traducciones -->
            {% block flash_message %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% set flashes = app.session.flashbag.all() %}
                            {% if flashes | length > 0 %}
                                {% for type, messages in flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ type }}">{{ message }}</div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock flash_message %}
            <!-- Fin del bloque flash para Traducciones -->
        {% endif %}


         <div class="content-wrapper">

            <!-- CONTENTBACKSTAGE: Esta parte del html contiene las vistas a renderizar para el contenido de Backstage -->
            <section class="content-header">
            {% if typeView == "AdminIndex" %}
                {% block content_header %}
                       <!-- <div class="box box-primary box-solid">
                            <div class="box-header">
                                <h3> <i class="fa fa-bullhorn fa-lg"></i> {{ 'Resumen' | trans }} </h3>
                            </div>
                                <div class="box-body">
                                    {{ include('AdminBundle:Default/panes:overview_pane.html.twig') }}
                                </div>
                        </div> -->
                    <div class="container" ng-app="BackstageApp">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav nav-tabs sub-nav limit-container">
                                    <li role="presentation" class="active"><a href="#overview" data-toggle="tab">Resumen</a></li>
                                    <li role="presentation"><a href="#settings" data-toggle="tab">Configuración</a></li>
                                    <li role="presentation"><a href="#messages" data-toggle="tab">Mensajes</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tab-content">
                                    {{ include("AdminBundle:Default/panes:overview_pane.html.twig") }}
                                    {{ include("AdminBundle:Default/panes:settings_pane.html.twig") }}
                                    {{ include("AdminBundle:Default/panes:messages_pane.html.twig") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                {% endif %}

                <!-- Extiende el contenido en el bloque content -->
                <div class="contentBackstage">
                    {% block content %}

                    {% endblock %}
                </div>
                <!-- Fin del contenido en el bloque content -->
                {% if typeView == "MonologUtils" or typeView == "everyware" %}
                    <div class="contentMonolog">
                        <!-- Extiende el contenido de Logs -->
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% block monolog_browser_content %}
                        {% endblock %}
                        <!-- Fin del contenido de Logs -->
                    </div>
                {% endif %}
            </section>
        </div>
        <!-- Main Footer -->
        {{ include("default/components/footer.html.twig") }}
    </div>
    {% endblock %}
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="{{ asset("assets/vendor/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js")}}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset("assets/vendor/AdminLTE/bootstrap/js/bootstrap.min.js")  }}"></script>
<!--iCheck -->
<script src="{{ asset("assets/vendor/AdminLTE/plugins/iCheck/icheck.min.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/select2/select2.full.min.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/bootstrap-datepicker.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.es.js") }}"></script>

<script src="{{ asset("assets/vendor/bootbox.js/bootbox.js") }}"></script>
<script src="{{ asset("assets/vendor/jquery-simulate/jquery.simulate.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>

<script src="{{ asset('assets/vendor/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js')}}" ></script>

<!-- AdminLTE App -->
<script src="{{ asset("assets/js/app.js") }}"></script>

<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/vendor/colorpicker/jquery.colorpicker.js') }}"></script>
<script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>
{% if typeView == "TranslationOverview"  or typeView == "everyware" %}
    <!-- Bloque de Js de las traducciones -->
    {% block javascript_footer %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.js') }}"></script>
    {% endblock %}
    <!-- fin del bloque con los Js de las traducciones -->
{% endif %}
{% if typeView == "MonologUtils"  or typeView == "everyware" %}
    <!-- seccion de JS de Logs -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/lexikmonologbrowser/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/lexikmonologbrowser/js/log.js') }}"></script>
    <!-- Fin de la seccion de JS de Logs -->
{% endif %}
<script>
    $(document).ready(function(){
        $(".colorpicker").colorpicker();
    });

</script>

{% block scripts %}
    <!-- extra scrips per page -->
{% endblock %}
<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience. Slimscroll is required when using the
fixed layout. -->
</body>
</html>

