{% extends 'base.html.twig' %}



{% block content_header %}


    <div class="hbox align-base">


        <h1 style="font-size: 18px">
            {{ 'create_workgroup' | trans }}
            {#<small>Optional description</small>#}
        </h1>


    </div>

    {#<ol class="breadcrumb">#}
    {#<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
    {#<li class="active">Here</li>#}
    {#</ol>#}




{% endblock %}



{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary box-solid">
                <div class="box-header">


                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            {{ form_start(form) }}
                            <div class="form-group has-feedback">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group has-feedback">


                                {{ form_widget(form.save, { 'attr': {'class': ' btn btn-flat btn-primary pull-right'} }) }}

                            </div>

                        </div>
                    </div>

                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                </div>

            </div>

        </div>

    </div>
    </div>

{% endblock %}