{% extends 'base.html.twig' %}


{% block content_header %}


    <div class="hbox align-base">


        <h1 style="font-size: 18px">
            {{ 'workgroups' | trans }}
            {#<small>Optional description</small>#}
        </h1>


        <a style="margin-left: auto" class="btn btn-primary btn-flat" href="{{ path("workgroups_create") }}">
            {{ 'create_workgroup' | trans }}
        </a>


    </div>

    {#<ol class="breadcrumb">#}
    {#<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
    {#<li class="active">Here</li>#}
    {#</ol>#}




{% endblock %}


 {% block content %}

     <div class="row">
         <section class="col-xs-12">

             <div class="box box-primary">
                 {#<div class="box-header"></div>#}
                 <div class="box-body">
                     <table class="table table-bordered  table-striped">
                         <thead>
                         <tr>
                             <th>Nº</th>
                             <th>{{ 'workgroup_name' | trans }}</th>
                             <th>{{ 'creation_date' | trans }}</th>
                             <th>{{ 'num_employe' | trans }}</th>
                             <th>{{ 'options' | trans }}</th>

                         </tr>
                         </thead>
                         <tbody>
                         {% for item in workgroups %}
                             <tr>
                                 <td>{{ item.id }}</td>
                                 <td>{{ item.name }}</td>
                                 <td>{{ item.createdAt | date("d/m/Y") }}</td>
                                 <td>{{ item.members | length }}</td>
                                 <td class="text-center">

                                     <a class="btn btn-flat btn-danger delete-action"
                                        href="{{ path("workgroup_delete",{'id':item.id}) }}"><i class="fa fa-trash"></i></a>
                                     <a class="btn btn-flat btn-success"
                                        href="{{ path("employees_list",{'filter':1, "group":item.id}) }}"><i
                                                 class="fa fa-group"></i></a>
                                     {#<a class="btn btn-flat btn-success" href="{{ path("employees_delete",{'id':item.id}) }}"><i class="fa fa-eye"></i></a>#}


                                 </td>
                             </tr>
                         {% endfor %}

                         <tfoot>
                         <tr>
                             <th>Nº</th>
                             <th>{{ 'workgroup_name' | trans }}</th>
                             <th>{{ 'creation_date' | trans }}</th>
                             <th>{{ 'num_employe' | trans }}</th>
                             <th>{{ 'options' | trans }}</th>

                         </tr>
                         </tfoot>


                     </table>

                 </div>
             </div>

         </section>


     </div>

 {% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        var deleteAllowed = false;
        $(document).ready(function(){



            $(".delete-action").on("click", function (event) {

                if (deleteAllowed == true) {
                    console.log("called again wit target", event.target);
                    //                    $(event.target).trigger("click");
                    $(event.target).simulate("click");
                    return true;
                }
                var deleteEvent = event;

                console.log(deleteEvent.target);
                //                $(deleteEvent).stopPropagation();


                bootbox.confirm({
                    size: "small",
                    title: "{{ 'do_want_delete' | trans }}",
                    message: "{{ 'sure_want_delete_workgroup' | trans }}",
                    buttons: {
                        confirm: {
                            label: "{{ 'yes' | trans }}",
                            className: 'btn-netic'
                        },
                        cancel: {
                            label: "{{ 'no' | trans }}",
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                        if (result === true) {
                            console.log(event.target);
                            deleteAllowed = true;
                            $(deleteEvent.target).trigger("click");
                        } else {
                            console.log("dimissed dialog");
                            deleteAllowed = false;
                        }
                    }
                });

                return false;


            });

        })
    </script>

{% endblock %}
