{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            {{ form_start(form,{"attr":{"novalidate":""}}) }}
            <div class="box box-netic">
                <div class="box-header">
                    <h3>{{ 'change_password' | trans }}</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">

                        <label for="{{ form.current_password.vars.id}}">{{ "current_password" | trans }}</label>
                        <div class="input-group"><span class="input-group-addon"><i
                                        class="fa fa-lock fa-fw"></i></span>
                            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control',"placeholder": 'current_password' | trans } }) }}

                        </div>
                        {{ form_errors(form.current_password) }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.plainPassword.first.vars.id}}">{{ "new_password" | trans }}</label>
                        <div class="input-group"><span class="input-group-addon"><i
                                        class="fa fa-lock fa-fw"></i></span>
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control',"placeholder": 'new_password' | trans } }) }}
                        </div>
                        {{ form_errors(form.plainPassword.first) }}

                    </div>
                    <div class="form-group">
                        <label for="{{ form.plainPassword.second.vars.id}}">{{ "repeat_new_password" | trans }}</label>
                        <div class="input-group"><span class="input-group-addon"><i
                                        class="fa fa-lock fa-fw"></i></span>
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control',"placeholder": 'repeat_new_password' | trans } }) }}
                        </div>
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_errors(form.plainPassword) }}
                    </div>

                </div>

                <div class="box-footer">
                    <a  href="{{ path("user_profile") }}" class="btn btn-default">{{ "cancel" | trans }}</a>
                    <input type="submit" value="{{ "change"|trans }}"
                           class="btn btn-netic pull-right"/>
                </div>
            </div>
            {{ form_end(form) }}
        </div>


    </div>

{% endblock content %}
