{% extends 'base.html.twig' %}



{% block content_header %}


    <div class="hbox align-base">


        <div>
            <h1 style="font-size: 18px">
                {{ 'add_employe' | trans }}

            </h1>
            {% if department is defined %}
                <h3><i class="fa fa-building"></i> {{ department.name }}</h3>
            {% endif %}

        </div>
    </div>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>{{ 'workgroups' | trans }}</a></li>
        <li class="active">{{ department.name }}</li>
        <li class="active">{{ 'add_employe' | trans }}</li>
    </ol>




{% endblock %}



{% block content %}

    <div class="row">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary box-solid">

                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-user-plus"></i> {{ 'add_employes_workgroup' | trans }}</h3>

                </div>
                <div class="box-body" style="display: flex">
                    <div class="col-md-5">
                        <table class="table table-bordered table-hover" id="leftTable">
                            <thead>
                            <tr role="row">
                                <th class="sorting">{{ 'number' | trans }}</th>
                                <th>{{ 'photo' | trans }}</th>
                                <th>{{ 'complete_name' | trans }}</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users  if user.department != department %}
                                <tr valign="middle" id="{{ user.id }}">
                                    <td>{{ user.employeeId }}</td>

                                    <td><img src="{{ asset(profiles_rel_directories ~ user.avatar) }}" alt=""
                                             class="img-rounded img-bordered-sm img-avatar-sm"></td>
                                    <td>{{ user.fullName }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2" style="display: flex; flex-direction: column; justify-content: center;">
                        <button class="btn btn-netic btn-block" id="add-btn"><i class="fa fa-user-plus"></i> {{ 'add' | trans }}
                        </button>
                        {#<button class="btn btn-default btn-block" id="rem-btn"><i class="fa fa-trash"></i> REMOVE#}
                        {#</button>#}
                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered  table-hover" id="rightTable">

                            <thead>
                            <tr role="row">
                                <th class="sorting">{{ 'number' | trans }}</th>
                                <th>{{ 'photo' | trans }}</th>
                                <th>{{ 'complete_name' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in users if user.department == department %}
                                <tr valign="middle" id="{{ user.id }}">
                                    <td>{{ user.employeeId }}</td>

                                    <td><img src="{{ asset(profiles_rel_directories ~ user.avatar) }}" alt=""
                                             class="img-rounded img-bordered-sm img-avatar-sm"></td>
                                    <td>{{ user.fullName }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="box-footer">

                </div>

            </div>


        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript"
            src="{{ asset("assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js") }}">></script>
    <script src="{{ asset("assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js") }}"></script>
    <script type="application/javascript">
        var selectedLeft = [];
        var selectedRight = [];

        $(document).ready(function () {


            var options = {
                "language": {
                    "paginate": {
                        "last": "{{ 'last' | trans }}",
                        "previous": "<",
                        "next": ">",
                        "first": "{{ 'first' | trans }}"

                    },
                    "emptyTable": "{{ 'empty_table' | trans }}",
                    "lengthMenu": "{{ 'show' | trans }} _MENU_ {{ 'records' | trans }}",
                    "search": "{{ 'search_to_name' | trans }}",
                    "info": " {{ 'show_page' | trans }} _PAGE_ {{ 'show_page' | trans }} _PAGES_ "
                },
                select: true,
                "info": false,
                "bLengthChange": false,
                "bFilter": false,
                pageLength: 10
            };
            var leftTable = $("#leftTable").DataTable(options);
            var rightTable = $("#rightTable").DataTable(options);

            var moveData = function (source, dest, data) {

//                console.log(source.rows().ids());
                source.rows('.selected').remove().draw(false);
                data.forEach(function (e) {
                    console.log("adding");
                    e.removeClass("selected row_selected");
                    var id = e.attr("id");
                    console.log(id);
                    dest.row.add(e);
                });

//                    source.row().remove();

                dest.page.len(10);
                dest.draw();
                source.draw();
            };

            $("#add-btn").click(function () {
                if (selectedLeft.length > 0) {

                    var usersId = selectedLeft.map(function (e) {
                        return e.attr("id");
                    });

                    $.ajax('{{ path("api_workgroup_add_user") }}', {
                        data: JSON.stringify({id: "{{ department.id }}", users: usersId}),
                        contentType: 'json',
                        method: "POST",
                        success: function (response) {
                            console.log("Added");
                            console.log(response);
                            moveData(leftTable, rightTable, selectedLeft);
                            selectedLeft = [];
                        }

                    });


                }
            });

            $("#rem-btn").click(function () {
                if (selectedRight.length > 0) {
                    moveData(rightTable, leftTable, selectedRight);
                    selectedRight = [];
                }
            });

            console.log(leftTable);
            $('#leftTable tbody').on('click', 'tr', function () {
                var user = $(this);
                user.toggleClass('selected row_selected');
                selectedLeft.push(user);
            });
            $('#rightTable tbody').on('click', 'tr', function () {
                var user = $(this);
                user.toggleClass('selected row_selected');
                selectedRight.push(user);
            });
        });
    </script>


{% endblock %}

{% block styles %}
    {{ parent() }}
    <style>
        tr.selected,
        tr.selected:hover {
            background: #00a65a'0' !important;
            color: white;
        }

        td {
            vertical-align: middle !important;
        }
    </style>

    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.css") }}">

{% endblock %}

