{% extends 'base.html.twig' %}



{% block content_header %}


    <div class="hbox align-base">


        <h1 style="font-size: 18px">
            {{ 'employee_edit' | trans }}
            {#<small>Optional description</small>#}
        </h1>



    </div>

    {#<ol class="breadcrumb">#}
    {#<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
    {#<li class="active">Here</li>#}
    {#</ol>#}




{% endblock %}



{% block content %}

    <div class="row">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

    </div>
    <div class="row">
        <div class="col-xs-12">

            {{ form_start(form, {"attr": {'novalidate':""}}) }}
            <div class="box box-primary box-solid">

                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-edit"></i>{{ 'employee_edit' | trans }}</h3>

                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="row ">
                                <div class="col-md-12">
                                    <h4>{{ 'basic_information' | trans }}</h4>
                                    <div class="center-block">

                                    </div>

                                    {{ form_errors(form.avatar) }}
                                    <div class="kv-avatar" style="width:200px">
                                        {{ form_widget(form.avatar, { 'attr': {'class': 'file-loading',"id":"avatar"} }) }}
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">

                                        <label>{{ 'num_employe' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-id-card fa-fw"></i></span>
                                            {{ form_widget(form.employee_id, { 'attr': {'class': 'form-control',"placeholder": 'num_employe' | trans } }) }}
                                        </div>
                                        {{ form_errors(form.employee_id) }}
                                    </div>


                                    <div class="form-group has-feedback">

                                        <label for="{{ form.firstname.vars.id }}">{{ 'first_name' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-user-circle fa-fw"></i></span>
                                            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control',"placeholder": 'first_name' | trans } }) }}
                                        </div>
                                        {{ form_errors(form.firstname) }}

                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="{{ form.lastname.vars.id }}">{{ 'last_name' | trans }}</label>

                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-user-circle fa-fw"></i></span>
                                            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control',"placeholder": 'last_name' | trans } }) }}
                                        </div>
                                        {{ form_errors(form.lastname) }}

                                    </div>
                                    <div class="form-group has-feedback">

                                        <label for="{{ form.birthdate.vars.id }}">{{ 'birthdate' | trans }}</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            {{ form_widget(form.birthdate, { 'attr': {'class': 'form-control',"placeholder": 'birthdate' | trans , "data-provide": "datepicker", "data-date-format": "dd/mm/yyyy", "data-date-language":"es-ES"} }) }}
                                        </div>
                                        {{ form_errors(form.birthdate) }}

                                    </div>


                                    <div class="form-group">


                                        <label for="{{ form.phone.vars.id }}">{{ 'phone' | trans }}</label>

                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-phone fa-fw"></i></span>
                                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control',"placeholder": 'phone' | trans  } }) }}
                                        </div>
                                        {{ form_errors(form.phone) }}
                                    </div>
                                    <div class="form-group" style="width: 100%;">

                                        <label for="{{ form.mobile.vars.id }}">{{ 'mobile' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-mobile fa-fw"></i></span>
                                            {{ form_widget(form.mobile, { 'attr': {'class': 'form-control',"placeholder": 'mobile' | trans  } }) }}
                                        </div>
                                        {{ form_errors(form.mobile) }}
                                    </div>


                                </div>


                            </div>


                        </div>


                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>{{ 'address' | trans }}</h4>

                                    <div class="form-group">
                                        <label for="{{ form.address.line1.vars.id }}">{{ 'address' | trans }}</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-map-pin fa-fw"></i></span>
                                            {{ form_widget(form.address.line1, { 'attr': {'class': 'form-control',"placeholder":  'address' | trans } }) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.city.vars.id }}">{{ 'city' | trans }}</label>
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-map fa-fw"></i></span>
                                            {{ form_widget(form.address.city, { 'attr': {'class': 'form-control',"placeholder":  'city' | trans } }) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.region.vars.id }}">{{ 'state' | trans }}</label>
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-map-signs fa-fw"></i></span>
                                            {{ form_widget(form.address.region, { 'attr': {'class': 'form-control',"placeholder": 'state' | trans  }}) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.country.vars.id }}">{{ 'country' | trans }}</label>
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-map fa-fw"></i></span>
                                            {{ form_widget(form.address.country, { 'attr': {'class': 'form-control',"placeholder": 'country' | trans } }) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.zip_code.vars.id }}">{{ 'postal_code' | trans }}</label>
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-map fa-fw"></i></span>
                                            {{ form_widget(form.address.zip_code, { 'attr': {'class': 'form-control',"placeholder": 'postal_code' | trans } }) }}

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>{{ 'details_account' | trans }}</h4>

                                    <!-- username -->
                                    <div class="form-group has-feedback">
                                        <label for="{{ form.username.vars.id }}">{{ 'username' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-user fa-fw"></i></span>
                                            {{ form_widget(form.username, { 'attr': {'class': 'form-control',"placeholder":'username' | trans } }) }}
                                        </div>
                                        {{ form_errors(form.username) }}
                                    </div>


                                    <div class="form-group" style="width: 100%;">
                                        <label for="">{{ 'password' | trans }}</label>
                                        {{ form_errors(form.plainPassword) }}
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-lock fa-fw"></i></span>
                                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control',"placeholder":'password' | trans } }) }}
                                        </div>
                                    </div>
                                    <div class="form-group" style="width: 100%;">
                                        <label for="">{{ 'repeat_password' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-lock fa-fw"></i></span>
                                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control',"placeholder":'repeat_password' | trans } }) }}
                                        </div>
                                    </div>
                                    <!-- workgroup -->
                                    <div class="form-group has-feedback">

                                        <label for="{{ form.department.vars.id }}">{{ 'workgroup' | trans }}</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
                                            {{ form_widget(form.department, { 'attr': {'class': 'form-control',"placeholder":'workgroup' | trans } }) }}
                                        </div>
                                        {{ form_errors(form.department) }}
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>{{ 'permissions' | trans }}</h4>

                                    <div class="form-group">
                                        {{ form_errors(form.group_boss) }}
                                        <label>
                                            {{ form_widget(form.group_boss,{"attr":{'class':"minimal"}}) }}
                                            {{ 'leader_group' | trans }}
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        {{ form_errors(form.admin_rights) }}
                                        <label>
                                            {{ form_widget(form.admin_rights,{"attr":{'class':"minimal"}}) }}
                                            {{ 'administrator' | trans }}
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="box-footer">

                    <a class="btn btn-flat btn-default" href="{{ path("employees_list") }}">{{ 'cancel' | trans }}</a>
                    {{ form_widget(form.save, { 'attr': {'class': ' pull-right btn btn-flat btn-netic'} } ) }}
                    {{ form_rest(form) }}
                </div>

            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset("assets/vendor/bootstrap-fileinput/js/fileinput.js") }}"></script>
    <script type="application/javascript">

        $(function () {



            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });


        });

        (function () {


            $("#form_avatar").fileinput({
                overwriteInitial: true,
                maxFileSize: 1500,
                showClose: false,
                showCaption: false,
                browseLabel: '',
                removeLabel: '',

                browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
                removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
                removeTitle: 'Cancel or reset changes',
                elErrorContainer: '#kv-avatar-errors-1',
                msgErrorClass: 'alert alert-block alert-danger',
                initialPreview: '<img src="{{ asset(profiles_rel_directories ~ avatar) }}" alt={{ 'photo_profile' | trans }} style="width:160px">',
                layoutTemplates: {main2: '{preview} ' + ' {remove} {browse}'},
                allowedFileExtensions: ["jpg", "png", "gif"]
            });

            $(".file-input").addClass("text-center");
        })();

    </script>




    <script src="{{ asset("assets/js/kvavatar.js") }}"></script>

{% endblock %}
