{% extends 'base.html.twig' %}



{% block content_header %}





        <h1 style="font-size: 18px">
            {{ 'profile_employe' | trans }}
            {#<small>Optional description</small>#}
        </h1>



    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-users"></i>{{ 'employe' | trans }}</a></li>
    <li class="active">{{ 'profile_employe' | trans }}</li>
    </ol>

{% endblock %}


{% block  content%}


    <div class="row">
        <div class="col-xs-12">

            {{ form_start(form, {"attr": {'novalidate':""}}) }}
            <div class="box box-primary box-solid">

                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-user"></i>  {{ 'employee_information' | trans }}</h3>

                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="row ">
                                <div class="col-md-12">
                                    <h4>{{ 'basic_information' | trans }}</h4>
                                    <div class="center-block">
                                        <img src="{{ asset(profiles_rel_directories ~ avatar) }}" alt="" class="img  img-responsive">
                                    </div>
                                    
                                   
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- employee_id -->
                                    <div class="form-group has-feedback">

                                        <label>{{ 'num_employe' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-id-card fa-fw"></i></span>
                                            {{ form_widget(form.employee_id, { 'attr': {'class': 'form-control',"placeholder": 'num_employe' | trans,"readonly": "" } }) }}
                                        </div>
                                        {{ form_errors(form.employee_id) }}
                                    </div>


                                    <!-- first name -->
                                    <div class="form-group has-feedback">

                                        <label for="{{ form.firstname.vars.id }}">{{ 'first_name' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-user-circle fa-fw"></i></span>
                                            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control',"placeholder": 'first_name' | trans, "readonly": ""} }) }}
                                        </div>
                                        {{ form_errors(form.firstname) }}

                                    </div>
                                    <!-- last name -->
                                    <div class="form-group has-feedback">
                                        <label for="{{ form.lastname.vars.id }}">{{ 'last_name' | trans }}</label>

                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-user-circle fa-fw"></i></span>
                                            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control',"placeholder": 'last_name' | trans,"readonly": "" } }) }}
                                        </div>
                                        {{ form_errors(form.lastname) }}

                                    </div>

                                    <div class="form-group has-feedback">

                                        <label for="{{ form.birthdate.vars.id }}">{{ 'birthdate' | trans}}</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            {{ form_widget(form.birthdate, { 'attr': {'class': 'form-control',"placeholder": 'birthdate' | trans , "data-provide": "datepicker", "data-date-format": "dd/mm/yyyy", "data-date-language":"es-ES", "readonly": ""} }) }}
                                        </div>
                                        {{ form_errors(form.birthdate) }}

                                    </div>

                                    <!-- phone -->
                                    <div class="form-group">


                                        <label for="{{ form.phone.vars.id }}">{{ 'phone' | trans }}</label>

                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-phone fa-fw"></i></span>
                                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control',"placeholder": 'phone' | trans ,"readonly": "" } }) }}
                                        </div>
                                        {{ form_errors(form.phone) }}
                                    </div>
                                    <!-- movile -->
                                    <div class="form-group" style="width: 100%;">

                                        <label for="{{ form.mobile.vars.id }}">{{ 'mobile' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-mobile fa-fw"></i></span>
                                            {{ form_widget(form.mobile, { 'attr': {'class': 'form-control',"placeholder": 'mobile' | trans ,"readonly": "" } }) }}
                                        </div>
                                        {{ form_errors(form.mobile) }}
                                    </div>

                                </div>
                            </div>


                        </div>


                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>{{ 'address' | trans }}</h4>

                                    <div class="form-group">
                                        <label for="{{ form.address.line1.vars.id }}">{{ 'address' | trans }}</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-map-pin fa-fw"></i></span>
                                            {{ form_widget(form.address.line1, { 'attr': {'class': 'form-control',"placeholder":  'address' | trans, "readonly": "" } }) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.city.vars.id }}">{{ 'city' | trans }}</label>
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-map fa-fw"></i></span>
                                            {{ form_widget(form.address.city, { 'attr': {'class': 'form-control',"placeholder":  'city' | trans , "readonly": ""} }) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.region.vars.id }}">{{ 'state' | trans }}</label>
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-map-signs fa-fw"></i></span>
                                            {{ form_widget(form.address.region, { 'attr': {'class': 'form-control',"placeholder": 'state' | trans,"readonly": ""  }}) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.country.vars.id }}">{{ 'country' | trans }}</label>
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-map fa-fw"></i></span>
                                            {{ form_widget(form.address.country, { 'attr': {'class': 'form-control',"placeholder": 'country' | trans,"readonly": "","disabled":"" } }) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.address.zip_code.vars.id }}">{{ 'postal_code' | trans }}</label>
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-map fa-fw"></i></span>
                                            {{ form_widget(form.address.zip_code, { 'attr': {'class': 'form-control',"placeholder": 'postal_code' | trans,"readonly": "" } }) }}

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>{{ 'details_account' | trans }}</h4>

                                    <!-- username -->
                                    <div class="form-group has-feedback">
                                        <label for="{{ form.username.vars.id }}">{{ 'username' | trans }}</label>
                                        <div class="input-group"><span class="input-group-addon"><i
                                                        class="fa fa-user fa-fw"></i></span>
                                            {{ form_widget(form.username, { 'attr': {'class': 'form-control',"placeholder":'username' | trans,"readonly": "" } }) }}
                                        </div>
                                        {{ form_errors(form.username) }}
                                    </div>


                                    <!-- workgroup -->
                                    <div class="form-group has-feedback">

                                        <label for="{{ form.department.vars.id }}">{{ 'workgroup' | trans }}</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
                                            {{ form_widget(form.department, { 'attr': {'class': 'form-control',"placeholder":'workgroup' | trans,"readonly": "","disabled":""} }) }}
                                        </div>
                                        {{ form_errors(form.department) }}
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>{{ 'permissions' | trans }}</h4>

                                    <div class="form-group">
                                        {{ form_errors(form.group_boss) }}
                                        <label>
                                            {{ form_widget(form.group_boss,{"attr":{'class':"minimal","readonly": "","disabled":""}}) }}
                                            {{ 'leader_group' | trans }}
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        {{ form_errors(form.admin_rights) }}
                                        <label>
                                            {{ form_widget(form.admin_rights,{"attr":{'class':"minimal","readonly": "", "disabled":""}}) }}
                                            {{ 'administrator' | trans }}
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="box-footer">

                    <a class="btn btn-flat btn-netic pull-right" href="{{ path("employees_list") }}">{{ 'back_list' | trans }}</a>
                    {% do form.save.setRendered %}
                    {% do form.avatar.setRendered %}
                    {% do form.plainPassword.setRendered %}

                </div>

            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}