<div class="tab-pane active" id="overview">
    <div class="row">

        <div class="col-md-6">
            <h4>Users</h4>
            <div class="panel panel-default">
                <div class="panel-body">

                    <i class="icon ion-person-stalker icon-30"></i>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Ultima actividad</h4>
            <ul class="activity-list">
                {% for item in activity %}
                    <li>
                        <div class="profile"><img src="{{ asset("assets/img/dummy.png") }}" alt="dummy profile pic"
                                                  class="img img-responsive"></div>
                        <p class="desc"><i class="fa fa-tag"></i> {{ item.description }}</p>
                        <p class="date"> {{ item.createdAt | date("H:M") }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>
