<li>
    <a href="{{ path("comunications_show",{"id": item.id}) }}" style="display: flex; justify-content: flex-start;">
        <i class="menu-icon fa fa-group post-circle"></i>
        <div class="menu-info" style="margin-left: 4px">
            <h4 class="control-sidebar-subheading">{{ item.title }}</h4>

            <p><i class="fa fa-calendar"></i> {{ item.date | date("d/m/y H:i") }}</p>
        </div>
        {% if item.author == app.user %}
            <i class="fa fa-arrow-up message-direction-icon message-direction-icon--outgoing" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-arrow-down message-direction-icon message-direction-icon--incoming" aria-hidden="true"></i>
        {% endif %}
    </a>
</li>