/*descriptive colors*/
$gray: #333333;
$clear: #ffffff;
$wildsand: #f5f5f5;
$trinidad: #e24109;/*functional colors*/
$message-icon--outgoing--color: #ec0404;
$message-icon--ingoing--color: #5cb85c;
$brand: $trinidad;
$brand-dark: darken($brand, 10);/* define the theme color here*/

$theme-color: #2089f6 ;
$theme-color-complement: #ec0404 ;
$theme-color-secondary: #2089f6 ;
$main-sidebar-color: #333333 ;
$control-sidebar-color: #333333 ;
$theme-circle-color: #2089f6 ;
$success-color: #5cb85c;
$warning-color: #c87f0a;
$danger-color: #dd4b39;
$info-color: #dde927;
