 .dropdown-caret {
    position: absolute;
    top: -10px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
    left: 50%;
    margin-left: -9px;

    .caret-inner {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid rgba(255, 255, 255, 0.8);
    }

  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 7px 0 6px 0;
      text-align: center;
      color: black;

      &:hover {
        background: rgb(0, 0, 50);
        color: white;
        cursor: pointer;
        position: relative;
      }

      .image-selector-hidden {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        cursor: pointer;
        opacity: 0;
      }

    }

  }

}