.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

.file-preview {
    margin-bottom: 5px;
}

.file-actions {
    display: none;
}

.file-input>div:nth-child(3){
    background-color: #333 !important;
    border-color:  #333 !important;
}
.file-input .file-preview-image{
    max-width: 150px;
    width: 100% !important;
    height: auto  !important;
}
