{% if showManagerIcon %}
    <a data-toggle="tooltip" data-placement="top"
       title="{{ 'message_group_leader' | trans }}"
       href="{{ path("comunications_workgroup_manager_create",{"groupid":item.id}) }}" >
        <i class="fa fa-user-circle-o"></i>
    </a>
{% endif %}