{% if (item == app.user.department and showSelfGroupMessagingIcon) or showOthersGroupMessagingIcon %}
    <a data-toggle="tooltip" data-placement="top"
       title="{{ 'message_workgroup' | trans }}"
       href="{{ path("comunications_workgroup_create",{"groupid":item.id}) }}" class="pull-right">
        <i class="fa fa-envelope-o "></i>
    </a>
{% endif %}