<script type="application/javascript">


    var handleFiles = function () {
        $(':file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });


    };

    $(function () {

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });


        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {

            handleFiles();
        });


    });
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
    var $newLinkLi = $("#add-attachment-btn");

    $(document).ready(function () {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.attachments-list');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $newLinkLi.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addAttachmentForm($collectionHolder, $newLinkLi);
        });
    });


    function addAttachmentForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);


        console.log(newForm);
        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        var wrapperHtml = '<div class="input-group">';
        wrapperHtml += '<label class="input-group-btn">';
        wrapperHtml += '<span class="btn btn-primary">';
        wrapperHtml += '<i class="fa fa-paperclip fa-fw"></i> {{ 'select_file' | trans }} &hellip;';

        wrapperHtml += newForm;
        wrapperHtml += '</span>';
        wrapperHtml += '</label>';

        wrapperHtml += '<input type="text" class="form-control" readonly>';
        wrapperHtml += '<span class="input-group-addon delete-attachment-btn" > <i class="fa fa-trash"></i> {{ 'delete' | trans }}</span>';
        wrapperHtml += '</div>';

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append(wrapperHtml);
        $($newFormLi).appendTo($collectionHolder);
        handleFiles();
        addDeleteHandler($newFormLi);
    }
    function addDeleteHandler($newFormLi) {

        var $deleteBtn = $newFormLi.find(".delete-attachment-btn").on('click', function () {
            console.log("delete clicked");
            $newFormLi.remove();
        });

    }


    //        $(document).ready(function(){
    //
    //            $(".validated-form").validate();
    //
    //        });

</script>
