<!-- displays a small box with the basic comunication data -->
<!-- the item variable should be based with the data -->


<div class="box box-widget post-container">
    <div class="box-header with-border">

        <div class="user-block">
            <img class="img-circle" src="{{  asset(profiles_rel_directories ~item.author.avatar) }}"
                 alt="User Image">
            <span class="username"><a
                        href="#">{{ item.author.firstName }} {{ item.author.lastName }}</a></span>
            <span class="description">  <i
                        class="fa fa-calendar"></i> {{ 'created_on' | trans }}: {{ item.date | date("d/m/Y  H:i") }}</span>
        </div>
        <!-- /.user-block -->
        {% if item.views | length > 0  and app.user.id == item.author.id %}
            <div class="box-tools" style="margin-top: 10px;">
                <a href="{{ path("comunications_show_view",{"id": item.id}) }}"  class="btn btn-primary" data-toggle="tooltip" title="{{ 'click_more_details' | trans }}">
                    <i class="fa fa-eye"></i> {{ 'seen_by' | trans }} {{ item.views | length }} {{ 'users' | trans }}
                </a>
                {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                            {#class="fa fa-minus"></i>#}
                {#</button>#}
                {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>#}
                {#</button>#}
            </div>
        {% endif %}

        <!-- /.box-tools -->
    </div>

    <!-- /.box-header -->
    <div class="box-header with-border">
        <h3 class="box-title" style="padding-top: 10px"><b>{{ 'title' | trans }}:</b> {{ item.title }}

        </h3>
        {% if item.attachments  | length %}
            <span class="pull-right text-warning"><i
                        class="fa fa-paperclip "></i> {{ item.attachments|length }} {{ 'attachments' | trans }} </span>
        {% endif %}
    </div>
    {#<div class="box-body">#}

    <div class="box-footer ">

        <a href="{{ path("comunications_show",{"id":item.id}) }}" class="btn btn-primary btn-flat pull-right">{{ 'view_post' | trans }}</a>
    </div>
</div>
