<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark" ng-app="SidebarApp">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs" id="control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-com-tab" data-toggle="tab"><i class="fa fa-send"></i></a></li>
        <li>
            <a href="#control-sidebar-msg-tab" data-toggle="tab"><i class="fa fa-users"></i></a></li>
        <li>
            <a href="#control-sidebar-user-tab" data-toggle="tab">
                <i class="fa fa-user"></i>

            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a>
            </li>
        {% endif %}

    </ul>
    <!-- Tab panes -->
    <div class="tab-content" ng-controller="ComunicationsSidebarCtrl as ctrl" style="height: 100%">
        <!-- Comunications tab content -->
        <div class="tab-pane active"
             id="control-sidebar-com-tab" style="height: 100%;">
            <h3 class="control-sidebar-heading">{{ 'notices' | trans }}</h3>

            <div ng-class="ctrl.getSearchFieldClass()" ng-cloak="">
                <div class="searching-indicator">{{ 'search' | trans }}</div>
                <input type="text" class="post-search-field" placeholder="{{ 'search_notice' | trans }}" ng-model="ctrl.filter">
            </div>

            <ul class="control-sidebar-menu" ng-cloak="" id="target-element"
                style="overflow-y: scroll; height: calc(100% - 80px); padding-bottom: 20px" when-scrolled='ctrl.loadMore()' >
                <li ng-repeat="item in ctrl.posts"  >
                    <a ng-href="[[item.url]]"
                       style="display: flex; justify-content: flex-start;">
                        <i class="menu-icon fa fa-group post-circle"></i>
                        <div class="menu-info" style="margin-left: 4px">
                            <h4 class="control-sidebar-subheading">[[ item.title ]]</h4>

                            <p><i class="fa fa-calendar"></i> [[item.date | date:'yyyy-MM-dd HH:mm']]</p>
                        </div>

                        <i ng-show="item.outbound"
                           class="fa fa-arrow-up message-direction-icon message-direction-icon--outgoing"
                           aria-hidden="true"></i>

                        <i ng-show="!item.outbound"
                           class="fa fa-arrow-down message-direction-icon message-direction-icon--incoming"
                           aria-hidden="true"></i>

                    </a>
                </li>
                <div style="padding: 15px; text-align: center" ng-show="ctrl.loadingMore && ctrl.searching == false"><img src="{{ asset("assets/img/ring-alt.gif") }}" style="width: 20px; height: 20px; margin-right: 10px" alt="">Loading more ...</div>
            </ul>
        </div>
        <!-- /.tab-pane -->
        <!-- Messages tab content -->
        <div class="tab-pane"
             id="control-sidebar-msg-tab" ng-controller="GroupMessagesSidebarCtrl as ctrl">
            <h3 class="control-sidebar-heading">{{ 'group_messages' | trans }}</h3>
            <div ng-class="ctrl.getSearchFieldClass()" ng-cloak="">
                <div class="searching-indicator">{{ 'search' | trans }}</div>
                <input type="text" class="post-search-field" placeholder="{{ 'search_group_mensage' | trans }}">
            </div>

            <ul class="control-sidebar-menu" ng-cloak="" id="target-element"
                style="overflow-y: scroll; height: calc(100% - 80px); padding-bottom: 20px" when-scrolled='ctrl.loadMore()' >
                <li ng-repeat="item in ctrl.posts"  >
                    <a ng-href="[[item.url]]"
                       style="display: flex; justify-content: flex-start;">
                        <i class="menu-icon fa fa-group post-circle"></i>
                        <div class="menu-info" style="margin-left: 4px">
                            <h4 class="control-sidebar-subheading">[[ item.title ]]</h4>

                            <p><i class="fa fa-calendar"></i> [[item.date | date:'yyyy-MM-dd HH:mm']] </p>
                        </div>

                        <i ng-show="item.outbound"
                           class="fa fa-arrow-up message-direction-icon message-direction-icon--outgoing"
                           aria-hidden="true"></i>

                        <i ng-show="!item.outbound"
                           class="fa fa-arrow-down message-direction-icon message-direction-icon--incoming"
                           aria-hidden="true"></i>

                    </a>
                </li>
                <div style="padding: 15px; text-align: center" ng-show="ctrl.loadingMore && ctrl.searching == false"><img src="{{ asset("assets/img/ring-alt.gif") }}" style="width: 20px; height: 20px; margin-right: 10px" alt="">Loading more ...</div>
            </ul>

        </div>
        <!-- /.tab-pane -->
        <!-- Messages tab content -->
        <div class="tab-pane"
             id="control-sidebar-user-tab" ng-controller="DirectMessagesSidebarController as ctrl">
            <h3 class="control-sidebar-heading">{{ 'private_messages' | trans }}</h3>
            <div ng-class="ctrl.getSearchFieldClass()">
                <div class="searching-indicator">{{ 'search' | trans }}</div>
                <input type="text" class="post-search-field" placeholder="{{ 'search_private_mensage' | trans }}">
            </div>

            <ul class="control-sidebar-menu" ng-cloak="" id="target-element"
                style="overflow-y: scroll; height: calc(100% - 80px); padding-bottom: 20px" when-scrolled='ctrl.loadMore()' >
                <li ng-repeat="item in ctrl.posts"  >
                    <a ng-href="[[item.url]]"
                       style="display: flex; justify-content: flex-start;">
                        <i class="menu-icon fa fa-group post-circle"></i>
                        <div class="menu-info" style="margin-left: 4px">
                            <h4 class="control-sidebar-subheading">[[ item.title ]]</h4>

                            <p><i class="fa fa-calendar"></i> [[item.date | date:'yyyy-MM-dd HH:mm']]</p>
                        </div>

                        <i ng-show="item.outbound"
                           class="fa fa-arrow-up message-direction-icon message-direction-icon--outgoing"
                           aria-hidden="true"></i>

                        <i ng-show="!item.outbound"
                           class="fa fa-arrow-down message-direction-icon message-direction-icon--incoming"
                           aria-hidden="true"></i>

                    </a>
                </li>
                <div style="padding: 15px; text-align: center" ng-show="ctrl.loadingMore && ctrl.searching == false"><img src="{{ asset("assets/img/ring-alt.gif") }}" style="width: 20px; height: 20px; margin-right: 10px" alt="">Loading more ...</div>
            </ul>

        </div>
        <!-- /.tab-pane -->
        {% if is_granted('ROLE_ADMIN') %}
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                {{ render(controller('AppBundle:Default:settings',{"originalRequest":app.request})) }}
            </div>
        {% endif %}
        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>


