<div class="row">
    <section class="col-xs-12">
        {% for type, messages in app.session.flashBag.all %}
            {% if type == 'fos_user_success' %}
                {%  set type = 'success' %}
            {% endif %}
            {% for message in messages %}
                <div class="callout callout-{{ type }}">
                    {% if type == "success" %}
                        <h4>{{ 'success' | trans }}</h4>
                    {% elseif type == "danger" %}
                        <h4>{{ 'error' | trans }}</h4>
                    {% endif %}
                    <p>{{ message  | trans({}, 'FOSUserBundle') }}</p>
                </div>

            {% endfor %}
        {% endfor %}
    </section>

</div>