
    <!-- Menu toggle button -->
  {% for locale in locales %}
    <li class="dropdown messages-menu">
        <a href="{{ path(mainRequest.get('_route'), mainRequest.get('_route_params')| merge({'_locale': locale.code })) }}"
        class="dropdown-toggle" >

            <img src="{{ asset("assets/img/flags/"~  locale.code ~ ".svg") }}" alt="" class="flag-img">
        {{ locale.code | trans}}
        {#<span class="label label-success">4</span>#}
        </a>
    </li>
    {% endfor %}

