

<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="{{ path("homepage") }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!--<span class="logo-mini"><b>A</b>LT</span>-->
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="{{ asset("assets/img/logo.png") }}" alt="">
        </span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <!-- <a href="{{ path("homepage") }}" class="sidebar-toggle" role="button" id="home-btn">
            <span class="sr-only">{{ 'home' | trans }}</span>
        </a> -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- Locales dropdown: style can be found in dropdown.less-->

                <!-- /.messages-menu -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <span ><img src="{{ asset("assets/img/flags/"~  app.request.locale ~ ".svg") }}" class="img-flag"> {{ app.request.locale | trans }}</span>

                      <span class="caret"></span>

                      </a>
                        <ul class="dropdown-menu languages-main-dropdown" role="menu" >
                            {{ render(controller("AppBundle:Default:showLanguages",{"mainRequest": mainRequest})) }}
                        </ul>
                </li>

                {#<!-- Notifications Menu -->#}
                {#<li class="dropdown notifications-menu">#}
                    {#<!-- Menu toggle button -->#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                        {#<i class="fa fa-bell-o"></i>#}
                        {#<span class="label label-warning">10</span>#}
                    {#</a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li class="header">You have 10 notifications</li>#}
                        {#<li>#}
                            {#<!-- Inner Menu: contains the notifications -->#}
                            {#<ul class="menu">#}
                                {#<li><!-- start notification -->#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-users text-aqua"></i> 5 new members joined today#}
                                    {#</a>#}
                                {#</li>#}
                                {#<!-- end notification -->#}
                            {#</ul>#}
                        {#</li>#}
                        {#<li class="footer"><a href="#">View all</a></li>#}
                    {#</ul>#}
                {#</li>#}
                {#<!-- Tasks Menu -->#}
                {#<li class="dropdown tasks-menu">#}
                    {#<!-- Menu Toggle Button -->#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                        {#<i class="fa fa-flag-o"></i>#}
                        {#<span class="label label-danger">9</span>#}
                    {#</a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li class="header">You have 9 tasks</li>#}
                        {#<li>#}
                            {#<!-- Inner menu: contains the tasks -->#}
                            {#<ul class="menu">#}
                                {#<li><!-- Task item -->#}
                                    {#<a href="#">#}
                                        {#<!-- Task title and progress text -->#}
                                        {#<h3>#}
                                            {#Design some buttons#}
                                            {#<small class="pull-right">20%</small>#}
                                        {#</h3>#}
                                        {#<!-- The progress bar -->#}
                                        {#<div class="progress xs">#}
                                            {#<!-- Change the css width attribute to simulate progress -->#}
                                            {#<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                                                {#<span class="sr-only">20% Complete</span>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</a>#}
                                {#</li>#}
                                {#<!-- end task item -->#}
                            {#</ul>#}
                        {#</li>#}
                        {#<li class="footer">#}
                            {#<a href="#">View all tasks</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="{{ asset(profiles_rel_directories ~ app.user.avatar) }}" class="user-image"
                             alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ app.user.username }}
                            {% endif %}
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="{{ asset(profiles_rel_directories ~ app.user.avatar) }}" class="img-circle"
                                 alt="User Image">

                            <p>
                                {{ app.user.firstName }} {{ app.user.lastName }}
                                <small> {{ app.user.department.name }}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ path("user_profile") }}" class="btn btn-default btn-flat">{{ 'my_profile' | trans }}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">{{ 'logout' | trans }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
                {#<!-- Control Sidebar Toggle Button -->#}
                {#<li>#}
                {#<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
                {#</li>#}
            </ul>
        </div>
    </nav>
</header>
