<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="background-color: #333333;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="{{ path("homepage") }}"">
                    <i class="icon ion-email-unread" style="font-size: 20px; vertical-align: sub"></i>
                    <span>{{ 'inbox' | trans }}</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="header">{{ 'notices' | trans }}</li>
                <!-- Optionally, you can add icons to the links -->
                <li><a href="{{ path("comunications_create") }}"><i class="fa fa-send"></i>
                        <span>{{ 'send_notice' | trans }}</span></a></li>
            {% endif %}
            <li class="header">{{ 'groups_employes' | trans }}</li>
            {% for item in departments %}
                <li>
                    <div style="display:flex; align-items:center">

                        <i class="fa fa-building"></i>
                        <span style="margin-left: 2px;margin-right:auto">{{ item.name | truncate(18) }}  </span>

                        <span class="right-items pull-right">
                            {{ include('default/components/main-sidebar/workgroup-icon.html.twig') }}
                            {{ include('default/components/main-sidebar/direct-icon.html.twig') }}
                            {{ include('default/components/main-sidebar/manager-icon.html.twig') }}
                         </span>
                    </div>

                </li>

            {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="header">{{ 'management' | trans }}</li>
                <li><a href="{{ path("workgroups_list") }}"><i class="fa fa-cubes"></i>
                        <span>{{ 'workgroups' | trans }} </span>
                        <span class="pull-right-container">
            <small class="label pull-right bg-blue">{{ departments | length }}</small>
          </span>
                    </a></li>
                <li><a href="{{ path("employees_list") }}"><i class="fa fa-group"></i>
                        <span>{{ 'employes' | trans }}
          </span>
                        <span class="pull-right-container">
            <small class="label pull-right bg-netic">{{ usercount }}</small>
          </span>
                    </a></li>
            {% endif %}

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
