{% extends 'base.html.twig' %}
{% block content_header %}
{% endblock %}

{% block content %}

    <div class="box box-widget">
    <div class="box-header with-border">

        <div class="user-block">
            <img class="img-circle" src="{{ asset(profiles_rel_directories ~item.author.avatar) }}"
                 alt="User Image">
            <span class="username"><a href="#">{{ item.author.firstName }} {{ item.author.lastName }}</a></span>
            <span class="description">  <i
                        class="fa fa-calendar"></i> {{ 'created_on' | trans }}: {{ item.date | date("d/m/Y H:i") }}</span>
        </div>

         {% if item.views | length > 0  and app.user.id == item.author.id %}
            <div class="box-tools" style="margin-top: 10px;">
                <a href="{{ path("comunications_show_view",{"id": item.id}) }}"  class="btn btn-primary" data-toggle="tooltip" title="{{ 'click_more_details' | trans }}">
                    <i class="fa fa-eye"></i> {{ 'seen_by' | trans }} {{ item.views | length }} {{ 'users' | trans }}</a>
                {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                            {#class="fa fa-minus"></i>#}
                {#</button>#}
                {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>#}
                {#</button>#}
            </div>
        {% endif %}

        <!-- /.user-block -->
       <!-- <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                <i class="fa fa-circle-o"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div> -->


        <!-- /.box-tools -->
    </div>


    <!-- /.box-header -->
    <div class="box-header with-border">
        <h3 class="box-title" style="padding-top: 10px"><b>{{ 'title' | trans }}:</b> {{ item.title }}</h3>
    </div>
    <div class="box-body  comunicate-content">
        <!-- post text -->
        {{ item.content | raw }}
    </div>
    {% if item.attachments | length > 0 %}
        <div class="box-body">
            {% for file in item.attachments %}
                <!-- Attachment -->
                <div class="attachment-block clearfix">
                    <a href="{{ asset(file.fileName) }}" class="btn btn-netic btn-flat text-success"
                       style="display: flex; flex-direction: column" target="_blank">
                        <i class="fa fa-download fa-2x attachment-img" style="color: white"></i>
                        <small>{{ file.sizeString }}</small>
                    </a>


                    <div style="display: inline-block">
                        <h4 class="attachment-heading text-danger">{{ file.sourceName }}
                        </h4>
                    </div>
                    <!-- /.attachment-text -->
                </div>
                <!-- /.attachment-pushed -->


            {% endfor %}
            {#<!-- Social sharing buttons -->#}
            {#<button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>#}
            {#<button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>#}
            {#<span class="pull-right text-muted">45 likes - 2 comments</span>#}
        </div>
    {% endif %}
    <!-- /.box-body -->
    {% if item.acceptsReplies %}
    <div class="box-footer box-comments">
        {% for reply in item.replies %}
            <div class="box-comment" id="{{ 'reply_' ~ reply.id }}">
                <!-- User image -->
                <img class="img-circle img-sm" src="{{ asset(profiles_rel_directories ~ reply.author.avatar) }}"
                     alt="User Image">

                <div class="comment-text">
            <span class="username">
                 {{ reply.author.fullName }}
                <span class="text-muted pull-right">{{ reply.createdAt | date("d/m/Y H:i") }}</span>
            </span><!-- /.username -->
                    {{ reply.content }}
                </div>
                <!-- /.comment-text -->
            </div>
            <!-- /.box-comment -->

        {% endfor %}

        {#<div class="box-comment">#}
        {#<!-- User image -->#}
        {#<img class="img-circle img-sm" src="../dist/img/user5-128x128.jpg" alt="User Image">#}

        {#<div class="comment-text">#}
        {#<span class="username">#}
        {#Nora Havisham#}
        {#<span class="text-muted pull-right">8:03 PM Today</span>#}
        {#</span><!-- /.username -->#}
        {#The point of using Lorem Ipsum is that it has a more-or-less#}
        {#normal distribution of letters, as opposed to using#}
        {#'Content here, content here', making it look like readable English.#}
        {#</div>#}
        {#<!-- /.comment-text -->#}
        {#</div>#}
        {#<!-- /.box-comment -->#}
        {#</div>#}
        <!-- /.box-footer -->
        {% endif %}
        {% if item.acceptsReplies %}
            <div class="box-footer">
                {{ form_start(form, {"action": path("comunications_replay_create",{"id":item.id}),"attr":{"novalidate":""}}) }}

                <img class="img-responsive img-circle img-sm"
                     src="{{ asset(profiles_rel_directories ~ app.user.avatar) }}"
                     alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">

                <div class="input-group">
                        {{ form_widget(form.content,{"attr":{"class":"form-control","placeholder":  'write_answer_here' | trans }}) }}
                        <div class="input-group-btn">
                            <input type="submit" value="Enviar" class="btn btn-flat">

                        </div>

                </div>

                {{  form_errors(form.content)}}


                </div>
                <span class="help-inline text-danger" style="margin-left: 40px">{{ 'only_author_statement_see_response' | trans }}</span>
                {{ form_end(form) }}
            </div>
        {% endif %}
        <!-- /.box-footer -->
    </div>
{% endblock %}

        {% block scripts %}
    <script type="application/javascript">
        $(document).on("removed-box", function(event, box,clickedElement){
            console.log("removed", box);
            var url = $("#home-btn").attr("href");
            window.location = url;
        });

    </script>

{% endblock %}